{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!--  Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'frontend/assets/favicons/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'frontend/assets/favicons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'frontend/assets/favicons/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'frontend/assets/favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'frontend/assets/favicons/safari-pinned-tab.svg' %}" color="#ff7a06">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Stylesheets -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" />

    <link rel="stylesheet" href="{% static 'frontend/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/roomList.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/profileList.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/homeDisplay.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/recentRooms.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/loginModal.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/roomModal.css' %}">

    <link rel="stylesheet" href="{% static 'frontend/css/discover.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/createRoom.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/userProfile.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/css/common.css' %}">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Pseudo 2.0</title>
  </head>

  <body>
    <div id="modal"></div>
    <div id="room_modal"></div>
    <div id="login_modal"></div>
    <div id="app"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
     <script src = "{% static 'frontend/main.js' %}"></script>
    <script src = "{% static 'frontend/scripts/discover.js' %}"></script>
    <script src = "{% static 'frontend/scripts/dropzone.js' %}"></script>

  </body>
</html>
