[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asn1crypto = "==0.24.0"
boto = "==2.49.0"
boto3 = "==1.9.156"
botocore = "==1.12.156"
certifi = "==2019.3.9"
cffi = "==1.12.3"
chardet = "==3.0.4"
cryptography = "==2.6.1"
defusedxml = "==0.6.0"
django-boto = "==0.3.12"
django-extensions = "==2.1.7"
django-multiselectfield = "==0.1.8"
django-rest-knox = "==4.0.1"
django-storages = "==1.7.1"
django-versatileimagefield = "==1.10"
djangorestframework = "==3.9.4"
docutils = "==0.14"
idna = "==2.8"
jmespath = "==0.9.4"
oauthlib = "==3.0.1"
pycparser = "==2.19"
python-dateutil = "==2.8.0"
python3-openid = "==3.1.0"
pytz = "==2019.1"
requests = "==2.22.0"
requests-oauthlib = "==1.2.0"
rest-social-auth = "==2.2.0"
s3transfer = "==0.2.0"
six = "==1.12.0"
social-auth-app-django = "==3.1.0"
social-auth-core = "==3.1.0"
sqlparse = "==0.3.0"
urllib3 = "==1.25.3"
Django = "==2.2.21"
Pillow = "==5.4.1"
PyJWT = "==1.7.1"

[requires]
python_version = "3.7"
