html{
  min-height: 100%;
}

body {
  background: #ffffff;
  color: #202122;

}


ul {
  margin: 0;
}


.container{
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.navbar {
  background: #202122;
}
.buffer{
  width: 100vw;
  margin-top: 81.438px;
}

.nav-item {
  background: -webkit-linear-gradient(#f07854, #f5a658);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.25s ease;
}

.nav-item:hover{
  opacity: 0.5;
}

.nav-logo {
  width: 4.1rem;
}


.center-content{
  text-align: center;
}

.nav-anchor {
  font-family: 'Helvetica';
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fas, .fab, .fa {
  background: -webkit-linear-gradient(#f07854, #f5a658);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.banner{
  position: relative;
}
.banner-img{
  width: 100vw;
}
.b_button {
  position: absolute;
  bottom: 9%;
  left: 10%;
  outline: none;
  height: 18%;
  text-align: center;
  width: 15%;
  border-radius: 40px;
  background: #fff;
  border: 2px solid white;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
.b_button:hover {
  transform: scale(1.05);
}
.button-txt{
  font-size: 2vw;
  background: -webkit-linear-gradient(#f5a658, #f07854);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav, .navbar, .navbar-expand-md, .navbar-dark, .bg-steel, .fixed-top {
  padding: 0rem 0rem;
  padding-top: 0;
  box-shadow: 0px 0px 15px #131313;
}

.logout-modal-title{
  font-weight: 700;
  margin-bottom: 1rem;
  background: -webkit-linear-gradient(#f5a658, #f07854);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-modal-title{
  font-weight: 700;
  margin-bottom: 0.5rem;
  background: -webkit-linear-gradient(#f5a658, #f07854);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logout-modal-body{
  padding: 3rem 4rem;
  background: #202122;
  height: 15rem;
  text-align: center;
  margin-bottom: -1px;
  margin-top: -1px;
}

.login-modal-body{
  padding: 3rem 4rem;
  background: #202122;
  height: 32rem;
  text-align: center;
  margin-bottom: -1px;
  margin-top: -1px;
}

.logout-modal-footer{
  background-image: linear-gradient(90deg, #f5a658, #f07854);
  height: 1.1rem;
}

.logout-modal-header{
  background-image: linear-gradient(90deg, #f5a658, #f07854);
  height: 1.4rem;
}

.logout_button {
  margin-top: 1rem;
  background: #202122;
  border: 2px solid #444 ;
  height: 3rem;
  margin: 0 0.5rem;
  outline: none;
  text-align: center;
  border-radius: 30px;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.25s ease;
}
.logout_button_logout{
  width: 8.5rem;
}
.logout_button_no{
  width: 5.5rem;
}
.logout_button:hover {
  border: 2px solid #f07854 ;
  box-shadow: 0px 0px 10px #181818;
  transform: scale(1.1);
}
.logout-button-txt{
  font-size: 1.3rem;
  background: -webkit-linear-gradient(#f07854, #f5a658);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logout_button:active, .logout_button:focus, .login_button:active, .login_button:focus, .b_button:active, .b_button:focus  {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
  -moz-outline-style: none;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

/** Button Code **/

.social-button {
  margin: 0 0.4rem;
  width: 60px;
  height: 60px;
  line-height: 60px;
  display: block;
  position: relative;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #444;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 10;
  font-size: 1.7rem;
  color: #333;
  transition: all 0.25s ease;
}

.social-button:hover {
  transform: scale(1.1);
  border: 2px solid transparent;
  background-image: linear-gradient(#202122, #202122), linear-gradient(90deg, #f5a658, #f07854);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.social-container {
  width: 100%;
  margin: 1rem auto;
}

.signup-now{
  background: -webkit-linear-gradient(#f07854, #f5a658);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.25s ease;
}

.logout_button:active, .logout_button:focus, .login_button:active, .login_button:focus, .b_button:active, .b_button:focus  {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
  -moz-outline-style: none;
}


.login_icons{
  background: -webkit-linear-gradient(#f07854, #f5a658);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.25s ease;
  margin-right: 0.4rem;
}

.signup-now:hover{
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .space{
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .space{
    display: none;
  }
  .navlistlast{
    margin-bottom: 0.5rem;
  }
}

.form-control{
  display: inline;
  width: 75%;
  margin: 0.5rem 0.5rem;
}

.bottom-form-control{
  display: inline;
  width: 75%;
  margin-bottom: 0.1rem;
}
.not-top-form-control{
  display: inline;
  width: 75%;
  margin-bottom: 0.1rem;
  margin-top: 0.8rem;
}
.top-form-control{
  margin-bottom: 0.1rem;
}

.forgot_pass_div{
  text-align: right;
  padding: 0 10%;
}


.forgot_pass{
  background: -webkit-linear-gradient(#f07854, #f5a658);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.25s ease;
}

.forgot_pass:hover{
  opacity: 0.5;
}

.login_button{
  margin-top: 1rem;
  background: #202122;
  border-radius: 20px;
  border: 2px solid #444 ;
  width: 7rem;
  height: 2.5rem;
  transition: all 0.25s ease;
}

.login_button:hover{
  cursor: pointer;
  border: 2px solid #f07854 ;
  box-shadow: 0px 0px 10px #181818;
  transform: scale(1.1);
}

.login_button_text{
  font-size: 1.3rem;
  background: -webkit-linear-gradient(#f07854, #f5a658);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr{
  height: 1px;
  color: #444;
  background-color: #444;
  margin-bottom: 0.5rem;
  width: 80%;
  outline-color: #444;
}

.muted_text{
  color: #444;
}

.or_connect_with{
  margin-top: 1rem;
}

.login_error_icon{
  background: -webkit-linear-gradient(#f07854, #f5a658);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reg_icon{
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.error_text{
  background: -webkit-linear-gradient(#f07854, #f5a658);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.7rem;
  margin:0;
  padding-top: 0.1rem;
}

.signup-modal-body{
  padding: 3rem 4rem;
  background: #202122;
  height: 39rem;
  text-align: center;
  margin-bottom: -1px;
  margin-top: -1px;
}

.base_footer{
  margin-top: 2rem;
  background-color: #202122;
  height: 9rem;
  width: 100%;
  color: #444;
  text-align: center;
  position:relative;
  bottom: 0;
}

.footer_border{
  background-image: linear-gradient(-90deg, #f5a658, #f07854);
  height: 0.5rem;
}

.my_row{
  width: 120%;
}

.footer_left{
  text-align: left;
}

.footer_right{
  text-align: right;
}
.footer_count{
  text-align: left;
}
.exact_count{
  font-size: 2rem;
  font-weight: bold;
  line-height: 0;
  margin:0;
}
.footer_social_media_icons .fab,.footer_social_media_icons .fa {
  background: #444;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.door{
  text-align: right;
}
.fa-door-open{
  font-size: 3.5rem;
  transition: all 0.3s ease;
}

.fa-door-open:hover{
  opacity: 0.5;
}

.post_model_content .logout-modal-header{
  height: 1.7rem;
}

.close{
  transform: scale(1);
  opacity: 0.5;
  color: white;
  text-shadow: none;
  transition: all 0.25 ease;
}
button.close{
  padding-right: 0.4rem;
  transition: all 0.25 ease;
}
.post-modal-body{
  background-color: #d6d6d6;
  height: 18rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_modal_right, .post_modal_left{
  display: flex;
  justify-content: center;
  align-items: center;

}

.post_modal_right .fas,.post_modal_left .fas {
  background: #444;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  opacity: 0.1;
  margin: 0.7rem;
}
.post_modal_title{
  font-weight: lighter;
  text-align: left;
}
.post_modal_summary{
  font-weight: lighter;
  text-align: left;
}
.post_modal_date{
  font-weight: lighter;
  text-align: left;
  font-size: 0.8rem;
}

.post_modal_join{
  float: right;
  background: #d6d6d6;
  border-radius: 20px;
  border: 2px solid #444 ;
  transition: all 0.25s ease;
  width: 5rem;
  color: #202122;
}

.post_modal_join:hover{
  color: #d6d6d6;
  cursor: pointer;
  border: 2px solid #f07854 ;
  box-shadow: 0px 0px 10px #9f9f9f;
  transform: scale(1.1);
}

.post_modal_author h4{
  font-weight: 200;
  font-size: 1.3rem;
}

.post_modal_stats .fas{
  background: #444;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
}

.post_modal_stats{
  text-align: left;
  float: left;
}

.rounded-circle{
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  border: 2px solid black;
}
