body {
  background: #ffffff;
  color: #202122;
}


ul {
  margin: 0;
}


.container{
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.navbar {
  background: #202122;
}
.buffer{
  width: 100vw;
  margin-top: 81.438px;
}

.nav-item {
  background: -webkit-linear-gradient(#f07854, #f5a658);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.25s ease;
}

.nav-item:hover{
  opacity: 0.5;
}

.nav-logo {
  width: 4.1rem;
}


.center-content{
  text-align: center;
}

.nav-anchor {
  font-family: 'Helvetica';
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fas, .fab, .fa {
  background: -webkit-linear-gradient(#f07854, #f5a658);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.banner{
  position: relative;
}
.banner-img{
  width: 100vw;
}
.b_button {
  position: absolute;
  bottom: 9%;
  left: 10%;
  outline: none;
  height: 18%;
  text-align: center;
  width: 15%;
  border-radius: 40px;
  background: #fff;
  border: 2px solid white;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
.b_button:hover {
  transform: scale(1.05);
}
.button-txt{
  font-size: 2vw;
  background: -webkit-linear-gradient(#f5a658, #f07854);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav, .navbar, .navbar-expand-md, .navbar-dark, .bg-steel, .fixed-top {
  padding: 0rem 0rem;
  padding-top: 0;
  padding-bottom: 0;
}

.logout-modal-title{
  font-weight: 700;
  background: -webkit-linear-gradient(#f5a658, #f07854);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logout-modal-body{
  padding: 3rem 4rem;
  background: #202122;
  height: 15rem;
  text-align: center;
  margin-bottom: -1px;
  margin-top: -1px;
}

.logout-modal-footer{
  background-image: linear-gradient(90deg, #f5a658, #f07854);
  height: 0.9rem;
}

.logout-modal-header{
  background-image: linear-gradient(90deg, #f5a658, #f07854);
  height: 1.4rem;
}

.logout_button {
  width: 8rem;
  height: 3rem;
  margin: 0 0.5rem;
  outline: none;
  text-align: center;
  border-radius: 40px;
  background: #fff;
  border: 2px solid white;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
.logout_button:hover {
  transform: scale(1.05);
}
.logout-button-txt{
  font-size: 1.2rem;
  background: -webkit-linear-gradient(#f5a658, #f07854);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logout_button:active, .logout_button:focus,.b_button:active, .b_button:focus  {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
  -moz-outline-style: none;
}

@media screen and (max-width: 991px) {
  .space{
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .space{
    display: none;
  }
  .navlistlast{
    margin-bottom: 0.5rem;
  }
}
