.banner_img_container{
  text-align: center;
}
.banner_img{
  width: 100%;
  padding: 3rem;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
}
.landing_text_container{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.pseudo_header{
  margin-top: 10%;
  color: #202122;
  padding: 1rem 0.5rem 0 0.5rem;
}
.pseudo_intro{
  color: #5a5a5a;
  padding: 0.75rem 1.5rem 0.5rem 1.5rem;
}
.pseudo_learn{
  padding-top: 0;
  opacity: 1;
  text-decoration: none;
  background: -webkit-linear-gradient(45deg, #202122, #202122);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.25s ease;

}
.pseudo_learn:hover{
  opacity: 0.8;
  cursor: pointer;
  text-decoration: none;
}
.list_selection{
  text-align: center;
  color: #202122;
  margin: 1.5rem 0 0 0;
  font-size: 1.2rem;
}
.list_selection p{
  display: inline-block;
  margin: 0 1rem 0 1rem;
  text-decoration: none;
  transition: all 0.25s ease;
}
.list_selection p:hover{
  opacity: 0.8;
  cursor: pointer;
}
.list_active {
  font-weight: 600;
  text-decoration: underline;
}
.landing_button {
  border-radius: 40px;
  margin: 1.5rem 1rem;
  font-size: 1rem;
  width: 11rem;
  padding: .5rem 2rem;
  color: #202122;
  box-shadow: 0 0 2.5px 0 rgba(157, 96, 212, 0.5);
  border: solid 4px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(45deg, #159fd5, #cc0a60);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  transition: all 0.25s ease;
  margin-top: 0rem;
}
.landing_button:hover {
  transform: scale(1.05);
  box-shadow: 2px 1000px 1px #202122 inset;
  background-image: linear-gradient(#202122, #202122), linear-gradient(45deg, #159fd5, #cc0a60);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-decoration: none;
	color: white;
}
.landing_button:focus, .landing_button:active {
  outline: none !important;
  box-shadow: none !important;
}
.button-txt{
  font-size: 2vw;
  background: -webkit-linear-gradient(#f5a658, #f07854);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
