.recent_rooms_title{
  text-align: center;
  font-weight: 400;
  color: #202122;
  font-size: 1.5rem;
}
.rec_room_border_top, .rec_room_border_bottom{
  border-radius: 30px;
  background-image: linear-gradient(90deg, #159fd5, #cc0a60);
  height: 0.4rem;
}
.rec_room_border_top{
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 85%;
}
.rec_room_border_bottom{
  margin: 2rem 0 0.5rem 0;
  width: 100%;
}
.rec_room{
  transition: all 0.4s ease;
  cursor: pointer;
  margin: 0 0.25rem;
}
.rec_room:hover{
  transform: translateY(-8px);
}
.rec_room_body{
  background: #e1e2e2;
  height: 30vh;
  border-radius: 20px;
  transition: all 0.4s ease;
}
.rec_room_body:hover {
  box-shadow: 0 0 10px #cacaca;
}
.rec_room_state{
  position: relative;
  line-height: 1.4;
  text-align: center;
  top: 1rem;
  left: 0rem;
  border-radius: 100%;
  color: white;
  height: 1.7rem;
  width: 1.7rem;
  background-color: #6dadf7;
  border: 2.4px solid white;
}
.rec_room_author{
  color: #a0a0a0;
  font-size: 0.9rem;
  text-align: left;
  margin: 0.5rem 0rem;
  font-weight: lighter;
}

.rec_room-anchor{
  color: #a0a0a0;
  transition: all 0.25s ease;
}

.rec_room-anchor:hover{
  color: #202122;
}

.rec_room_title{
  font-weight: lighter;
  color: #202122;
  font-size: 2rem;
}

.rec_room_stats .fas{
  background: -webkit-linear-gradient(#202122, #202122);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
