{% extends "blog/base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="list-group">

   {% for user in users %}
      <a href="{% url 'user-posts' user.username %}" class="list-group-item list-group-item-action">
        {{user.username}}
      </a>

   {% endfor %}
     </div>
   </div>
 </div>
   {% if is_paginated %}
     {% if page_obj.has_previous %}
       <a class="btn btn-warning-info mb-4"href="?page=1">First</a>
       <a class="btn btn-warning-info mb-4"href="?page={{ page_obj.previous_page_number }}">Next</a>
     {% endif %}

     {% if page_obj.has_next %}
       <a class="btn btn-warning-info mb-4"href="?page={{ page_obj.next_page_number}}">Next</a>
       <a class="btn btn-warning-info mb-4"href="?page={{ page_obj.paginator_num_pages }}">Last</a>
     {% endif %}
   {% endif %}

{% endblock content %}
