{% extends "blog/base.html" %}


{% block content %}

<div class="center-content">
<div class="container">
  <div class="row ">
   {% for post in posts %}

         <div class="mt-4 col-4 post" id = {{post.id}} onclick="postClick(this);">
           <div class="post_state"></div>
           <div class="post_body p-3 mr-1 ml-1">
               <div class="post_author m-1">
                 <a class="post-anchor" href="{% url 'user-posts' post.author.username %}">
                   {{ post.author }}
                 </a>

               </div>
             <div class="post_title p-2">
               {{ post.title }}
             </div>
           </div>
         <div class="pl-1 pr-1 mt-1 post_footer_info">
          <div class="container">
            <div class="row">
              <div class="col-6 post_date">
                {{post.date_posted|date:'F d, Y'}}
              </div>
              <div class="col-6 post_stats">
                <i class="fas fa-comment"></i> 5 &nbsp;&nbsp;
                <i class="fas fa-users"></i> 12 &nbsp;
                <i class="fas fa-heart"></i> 50
              </div>
            </div>
          </div>
         </div>
        </div>
        {% endfor %}
      </div>
     </div>
     </div>






   {% if is_paginated %}
     {% if page_obj.has_previous %}
       <a class="btn btn-warning-info mb-4"href="?page=1">First</a>
       <a class="btn btn-warning-info mb-4"href="?page={{ page_obj.previous_page_number }}">Next</a>
     {% endif %}

     {% if page_obj.has_next %}
       <a class="btn btn-warning-info mb-4"href="?page={{ page_obj.next_page_number}}">Next</a>
       <a class="btn btn-warning-info mb-4"href="?page={{ page_obj.paginator_num_pages }}">Last</a>
     {% endif %}
   {% endif %}

{% endblock content %}
