<form method="POST">
  {% csrf_token %}
  <fieldset class="form-group">
    {{ login_form }}
  </fieldset>
  <div class="form-group">
    <button class="btn btn-outline-info" type="submit" name="button">Login</button>
  </div>
</form>

<!--
  <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="logout-modal-header">
      </div>

      <div class="modal-body login-modal-body">

        <div class="logout-modal-title">
          <h2><strong>LOGIN</strong></h2>
        </div>

        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            {{ login_form }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit" name="button">Login</button>
          </div>
        </form>

          <br>
          <small> <a class="signup-now" href="{% url 'password_reset' %}">Forgot your password?</a> </small>

          <br>
          <div class="social-container">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="social-button"><i class="fab fa-google"></i></a>
            <a href="{% url 'social:begin' 'facebook' %}" class="social-button"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url 'social:begin' 'twitter' %}" class="social-button"><i class="fab fa-twitter"></i></a>
            <a href="{% url 'social:begin' 'github' %}" class="social-button"><i class="fab fa-github"></i></a>
          </div>

          <small class = "text-muted">Don't have an account?</small>
          <br>
          <a class="signup-now" href="{% url 'password_reset'%}">Sign-Up Now!</a>

      </div>

      <div class="logout-modal-footer">
      </div>

    </div>
  </div>
  </div> -->
